@charset "UTF-8";

::-webkit-scrollbar{ width: 0px; height:0px;}

body{
    width: 100vw;
}

header {
    width: 100vw;
}

header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}

header > nav > a {
    width: 90vw;
}